
  .display {
    font-size: 24px;
    text-align: right;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  /* Styles for calculator buttons */
  .button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  /* Styles for specific types of buttons */
  .operator {
    background-color: #f0ad4e; /* Orange */
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    border: none;
    border-radius: 3px;
  }

  .clear {
    background-color: #d9534f; /* Red */
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    border: none;
    border-radius: 3px;
  }

  .equals {
    background-color: #5cb85c; /* Green */
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    border: none;
    border-radius: 3px;
  }
